@font-face {
    font-family: montserrat;
    src: url(MontserratRegular-BWBEl.ttf);
}

@font-face {
    font-family: gillroy;
    src: url(Gilroy-Regular.ttf);
}

/* Variables */
:root {
	--primary: #ff7f50;
	--professional: #3a82ee;
	--personal: var(--primary);
	--light: #EEE;
	--grey: #888;
	--dark: #313154;
	--danger: #ff5b57;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--professional-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}
/* End of Variables */

/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: montserrat;
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}
/* End of Resets */

body {
	background-color: blanchedalmond;
	color: var(--dark);
}

section {
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h3 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.greeting .title {
	display: flex;
}

.greeting .title input {
	margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
}

.greeting .title, 
.greeting .title input {
	color: var(--dark);
	font-size: 1.5rem;
	font-weight: 700;
}

.create-todo input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}

.create-todo .options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.create-todo .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #e8e7e7;
	padding: 1.5rem;
	box-shadow: var(--shadow);
	border-radius: 0.5rem;
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}


.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid var(--professional);
	box-shadow: var(--professional-glow);
}

.bubble.personal {
	border-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--professional);
	box-shadow: var(--professional-glow);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: var(--personal);
	box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.create-todo .options label div {
	color: var(--dark);
	font-size: 1.125rem;
	margin-top: 1rem;
}

.create-todo h2{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.create-todo input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	box-shadow: var(--personal-glow);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}

.create-todo input[type="submit"]:hover {
	opacity: 0.9;
    background-color:brown;
}

.todo-list .list {
	margin: 1rem 0;
}

.todo-list .todo-item {
	display: flex;
	align-items: center;
	background-color: #ffdcab;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}

.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .todo-content {
	flex: 1 1 0%;
}

.todo-item .todo-content input {
	font-size: 1rem;
    width: 97%;
}

.todo-item .actions {
	display: flex;
	align-items: center;
    /* flex-shrink: 4; */
}

.todo-item .actions button {
	display: block;
	padding: 0.4rem;
    /* height: 2rem;
    width: 3rem; */
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
	opacity: 0.75;
}

/* .todo-item .actions .edit {
	margin-right: 0.5rem; 
	 background-color: rgb(21, 151, 21);
} */

.todo-item .actions .delete {
	/* background-color: var(--danger); */
    padding: 0.2rem;
    padding-top: 0.3rem;
}

.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: var(--grey);
}

#personal, #professional{
    font-family: gillroy;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

#nameForm{
    margin-top: 2rem;
    padding: 0 1.5rem;
}

#nameForm label{
    font-family: montserrat;
    font-weight: 700;
    font-size: 1.125rem;
}

#nameForm input{
    display: inline-block;
	width: 50%;
	font-size: 1.125rem;
	padding: 0.5rem 1rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
    margin-left: 0.3rem;
}

#greeting{
    margin-top: 2rem;
    padding: 0 1.5rem;
    color: color-mix(in srgb, rgb(23, 207, 203) 50%, rgb(36, 180, 7) 50%);
}

#okbut{
    display: inline-block;
    margin-left: 0.3rem;
    background-color: #50cf42;
    padding: 0.56rem;
    border-radius: 0.5rem;
    width: 2.3rem;
}

#okbut img{
    width: 1.2rem;
    height: 1.2rem;
}